In [1]:
import pandas as pd

In [15]:
data = pd.read_csv('Data2/train.csv')

In [16]:
data.head()

   index                                               text          label
0      0  closei start extremely loving family mom great...     depression
1      1  need stop stalking people like ever someone sa...  nondepression
2      2  for year now i ve always thought of suicide a ...     depression
3      3  announcement mad critocola op fucking play sco...  nondepression
4      4  wished voices head stoppedits hard exercise st...     depression

In [17]:
data = data[['label','text']]
data['label'] = data['label'].apply(lambda x : 1 if x == 'depression' else 0)
data

       label                                               text
0          1  closei start extremely loving family mom great...
1          0  need stop stalking people like ever someone sa...
2          1  for year now i ve always thought of suicide a ...
3          0  announcement mad critocola op fucking play sco...
4          1  wished voices head stoppedits hard exercise st...
...      ...                                                ...
28561      1  peace out good luckdear you wanted someone kno...
28562      0  feel like grandpa replacing parents tenants so...
28563      0  tommcfly did you know that johnson baby use an...
28564      0                                  dear america fuck
28565      1  please talk it ive never close itive neared re...

[28566 rows x 2 columns]

In [19]:
labels = pd.DataFrame([0,1])
labels

   0
0  0
1  1

In [33]:
labels.to_csv('Data3/label/labels.csv',index=False)

In [34]:
pd.read_csv('Data3/label/labels.csv')

   0
0  0
1  1

In [22]:
data.to_csv('Data3/data/train.csv',index=False)

In [23]:
pd.read_csv('Data3/data/train.csv')

       label                                               text
0          1  closei start extremely loving family mom great...
1          0  need stop stalking people like ever someone sa...
2          1  for year now i ve always thought of suicide a ...
3          0  announcement mad critocola op fucking play sco...
4          1  wished voices head stoppedits hard exercise st...
...      ...                                                ...
28561      1  peace out good luckdear you wanted someone kno...
28562      0  feel like grandpa replacing parents tenants so...
28563      0  tommcfly did you know that johnson baby use an...
28564      0                                  dear america fuck
28565      1  please talk it ive never close itive neared re...

[28566 rows x 2 columns]

In [24]:
val = pd.read_csv('Data2/val.csv')
val

      index                                               text          label
0         0  well i caved i cut myself for the first time t...     depression
1         1  know anymoreim  year old male depression mom g...     depression
2         2  yall cute af dont ever believe anyone says oth...  nondepression
3         3  mercygrl oh wow a little chubster you cant inv...  nondepression
4         4  goddamn brainhow possible start creating game ...     depression
...     ...                                                ...            ...
7137   7137  one best films ever seen anyone knock movie be...  nondepression
7138   7138       god hate people treat me people treat better  nondepression
7139   7139  might kill people knownot saying know knows fu...     depression
7140   7140  question guys rteenagers question specifically...  nondepression
7141   7141  found rage novel mentions suicidal thoughtsthe...     depression

[7142 rows x 3 columns]

In [25]:
val = val[['label','text']]
val['label'] = val['label'].apply(lambda x : 1 if x == 'depression' else 0)
val

C:\Users\pc\AppData\Local\Temp\ipykernel_40620\1845934336.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  val['label'] = val['label'].apply(lambda x : 1 if x == 'depression' else 0)

      label                                               text
0         1  well i caved i cut myself for the first time t...
1         1  know anymoreim  year old male depression mom g...
2         0  yall cute af dont ever believe anyone says oth...
3         0  mercygrl oh wow a little chubster you cant inv...
4         1  goddamn brainhow possible start creating game ...
...     ...                                                ...
7137      0  one best films ever seen anyone knock movie be...
7138      0       god hate people treat me people treat better
7139      1  might kill people knownot saying know knows fu...
7140      0  question guys rteenagers question specifically...
7141      1  found rage novel mentions suicidal thoughtsthe...

[7142 rows x 2 columns]

In [26]:
val.to_csv('Data3/data/val.csv',index=False)

In [28]:
pd.read_csv('Data3/data/val.csv')

      label                                               text
0         1  well i caved i cut myself for the first time t...
1         1  know anymoreim  year old male depression mom g...
2         0  yall cute af dont ever believe anyone says oth...
3         0  mercygrl oh wow a little chubster you cant inv...
4         1  goddamn brainhow possible start creating game ...
...     ...                                                ...
7137      0  one best films ever seen anyone knock movie be...
7138      0       god hate people treat me people treat better
7139      1  might kill people knownot saying know knows fu...
7140      0  question guys rteenagers question specifically...
7141      1  found rage novel mentions suicidal thoughtsthe...

[7142 rows x 2 columns]